
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  
       url('fonts/OpenSans.woff') format('woff'), 
       url('fonts/OpenSans.ttf')  format('truetype'), 
       url('fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

body {
  font: 16px/22px 'OpenSans', Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f1f1f2;
  color: #585858;
}

.header {
  padding: 15px 0;
}

.logo {
  max-width: 150px;
}

.conteiner {
  max-width: 1024px;
  margin: 0 auto;
  background: #fff;
  padding: 0 15px;
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 15px 15px;
}

.gallery {
  padding:0;
  list-style:none;
  display:flex;
  flex-wrap:wrap;
  align-items: stretch;
}

.gallery__item {
  padding:0 0 0 15px;
  position:relative;
  margin:0 0 15px;
  width:25%;
  overflow:hidden;
  text-align: center;
}

.gallery__item:first-child {
  padding: 0;
}

.gallery__image {
  max-height: 150px;
  cursor: pointer;
}

.gallery__description {
  text-align: left;
}

.gallery__description h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 15px 0;
  text-align: center;
}

.gallery__description p {
  margin: 0;
}

.gallery__description p + p {
  margin: 0 0 10px;
}

.pswp__container {
  padding: 20px;
}

.pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption {
  background-color: inherit;
}

.pswp__button--arrow--right:before {
  background: url(../images/icon-arrow-right.svg) no-repeat;
  background-size: 100% 100%;
  background-color: inherit;
}

.pswp__button--arrow--left:before {
  background: url(../images/icon-arrow-left.svg) no-repeat;
  background-size: 100% 100%;
  background-color: inherit;
}

.pswp__button--close {
  background: url(../images/icon-close.svg) no-repeat;
  background-size: 100% 100%;
  background-color: inherit;
}

.pswp__top-bar {
  padding: 20px;
}

.pswp__caption__center {
  text-align: center;
}

.pswp__caption__center h2 {
  text-transform: uppercase;
  font-size: 16px;
}

.pswp__counter {
  left: 20px;
  top: 20px;
}    

.pswp--animate_opacity,
.pswp__bg,
.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right{
    -webkit-transition: opacity 500ms cubic-bezier(.4,0,.22,1);
    transition: opacity 500ms cubic-bezier(.4,0,.22,1);
}
